
                                                /* header */



.bgimg{
     background-image: url(images/banner/banner3.png); 
     background-size:cover;
     background-repeat: no-repeat;
     height: 700px;
     margin-bottom: 150px;
    
}

.header{
justify-content: end;
display: flex;

}

.hed-info{

    margin-right: 150px;
    margin-top: 160px;
    color: aliceblue;
    text-align: end;
}

.headtag{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600px;
    font-size: 50px;
}
.head-des{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.headbutton{

    background: rgb(240, 240, 240);
    color: blue;
    padding: 10px 30px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: none;


}

                                                /* section1 */

.section1{

    display: flex;
    

}                                           

.section1-img{
    margin-left: 130px;
}

.descrition1{
    justify-content: end; 
    margin-left: 100px;
    margin-top: 250px;
    

    
}

.section1-header{

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

}


.section1-dis{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #444343;
}

.List{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;

}

.color{
    color: rgb(105, 167, 12);
}


                                                    /* section2 */

.section2-header{

text-align: center;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
margin-top: 200px;

}

.icons{
    display: flex;
    justify-content: space-evenly; 
    margin-top: 2%;
   
}

.icon-name{
    display: flex;
    justify-content: space-evenly; 
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    gap: 0px;

}
.icon-description{

    display: flex;
    justify-content: space-evenly; 
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #737272;
    gap: 0px;
}

.Mix-img{
    background-image: linear-gradient(90deg, #58eed5 0%, rgba(241, 91, 34, 0) 80%),url(images/watch.png);
    background-repeat: no-repeat;
    margin-left:25%;
    margin-bottom: 10%;
    margin-top: 10%;
    height: 200px;
    width: 700px;
    border-radius: 5px;
}

#id{
  
    padding-top: 3%; 
    line-height: 90%;
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 35px;
    color: #d41414;  
    padding-left: 5%;

}


button{

margin-left: 35px;
padding: 10px 10px;
color: #d41414;
border-radius: 5px;
border: none;

}

 
.foot{
    background-color:black;
    /* max-height:max-content; */
    height: 500px;

 }

 .lorem{
    display: flex;

}

.plan {
    margin-left: 70px;
    margin-top: 50px;
    color: #FFFFFF;
}

.sub{
    margin-left: 600px;
    margin-top: 50px;
}
.tagging{
    font-size: 50px;
    margin-left: 65px;
}

.plan{margin-left: 70px;}

.end {margin-left: 70px;}

.ending{margin-left: 70px;}

.mail{
    margin-left: 70px;
}
.end {
    font-weight: 400;
    font-size: 30px;
    line-height: 26px;
}


.sub-tag{
    color: #ffffff;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Work Sans';
}

.Sub input{
    padding: 20px 30px;
    border-radius: 8PX;
}
.button{
     height: 40px;
     background-color: #f2f1f1;
     color: #ed7d0c;
     font-weight: 700;
     font-size: 15px;
     line-height: 0px; 
     border: 0;
     padding: 20px 20px;  
     border-radius: 5PX;
     margin-top: 10px;

}
.link{
display: flex;
margin-left: 60px;
gap: 10px;

}



